---
import BlogTagsLink from '../components/BlogTagsLink.astro'
import NoContents from '../components/NoContents.astro'
import Pagination from '../components/Pagination.astro'
import PostDate from '../components/PostDate.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import Layout from '../layouts/Layout.astro'
import {
  getAllTags,
  getNumberOfPages,
  getPosts,
  getRankedPosts,
} from '../lib/notion/client.ts'
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import styles from '../styles/blog.module.css'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <header class="page-header"></header>

    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div class={styles.post} key={post.Slug}>
            <PostDate post={post} />
            <PostTags post={post} />
            <PostTitle post={post} />
            <PostFeaturedImage post={post} />
            <PostExcerpt post={post} />
          </div>
        ))
      )
    }

    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <div slot="aside" class={styles.aside}>
    <!-- <BlogPostsLink heading="Recommended" posts={rankedPosts} /> -->
    <BlogTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>

<style>
  .page-header {
    border-top: 1px dashed #888;
    margin: 20px 0;
  }
  [class^='_post'] {
    text-align: center;
  }

  [class^='_post']:not(:last-child) {
    margin-bottom: 4rem;
  }
</style>
